<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Markdown Viewer</title>
  <link rel="stylesheet" href="md.css">
</head>
<body>
  <div class="markdown-body">
    <%- html %>
  </div>
  <%- js_script %>
</body>
</html>

