<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Viewer</title>
    <link rel="stylesheet" href="md.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <div class="markdown-body" id='markdown-body'>
        <%- html %>
    </div>
    <script>
        const markdownText = document.getElementById('markdown-body').innerHTML;
        const html = marked.parse(markdownText);
        document.getElementById('markdown-body').innerHTML = html;
    </script>

</body>

</html>
